<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>First View</string>
			<key>UIApplicationShortcutItemType</key>
			<string>FirstView</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Navigate to view 1</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Second View</string>
			<key>UIApplicationShortcutItemType</key>
			<string>SecondView</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeHome</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Navigate to view 2</string>
		</dict>
	</array>
</dict>
</plist>
